In [2]:
import numpy as np
from scipy import linalg
import pandas as pd

In [7]:
adv = pd.read_csv('C:/shjung/pythonExam/240808_concat_join/10장_상관.csv', encoding="cp949")

In [8]:
adv

    광고비  매출액
0    13   94
1     8   70
2    10   90
3    15  100
4    12   95
5    15  100
6    14   85
7    15   95
8    17  105
9    19  105
10   20  110
11   21  105
12   22  104
13   21  105
14   25  121

In [26]:
print(adv['광고비'][0])
print(adv.iloc[0])
print(adv.loc[14])

s1 = pd.Series(adv['광고비'])
type(s1)

13
광고비    13
매출액    94
Name: 0, dtype: int64
광고비     25
매출액    121
Name: 14, dtype: int64

pandas.core.series.Series

In [10]:
# np.correlate
np.corrcoef(adv.광고비, adv.매출액)

array([[1.       , 0.8879209],
       [0.8879209, 1.       ]])

In [11]:
adv.corr()

          광고비       매출액
광고비  1.000000  0.887921
매출액  0.887921  1.000000

In [13]:
adv.광고비

0     13
1      8
2     10
3     15
4     12
5     15
6     14
7     15
8     17
9     19
10    20
11    21
12    22
13    21
14    25
Name: 광고비, dtype: int64