In [5]:
import numpy as np
from scipy import linalg
import pandas as pd

In [6]:
adv = pd.read_csv('C:/shjung/pythonExam/240808_concat_join/ch12_scores_reg.csv', encoding="cp949")

In [8]:
adv

    quiz  final_test
0    4.2          67
1    7.2          71
2    0.0          19
3    3.0          35
4    1.5          35
5    0.9          40
6    1.9          23
7    3.5          37
8    4.0          39
9    5.4          55
10   4.2          40
11   6.9          70
12   2.0          29
13   8.8          88
14   0.3          47
15   6.7          77
16   4.2          52
17   5.6          55
18   1.4          18
19   2.0          60

In [10]:
np.corrcoef(adv.quiz, adv.final_test)

array([[1.        , 0.82240244],
       [0.82240244, 1.        ]])

In [12]:
adv.corr()

                quiz  final_test
quiz        1.000000    0.822402
final_test  0.822402    1.000000

In [14]:
quiz = pd.read_csv('C:/shjung/pythonExam/240808_concat_join/quiz.csv', encoding="cp949")

In [15]:
quiz.corr()

                quiz  final_test
quiz        1.000000    0.822402
final_test  0.822402    1.000000

### 단순 회귀 모델 (직선인 모델)
### x1 퀴즈(quiz), y 기말고사(final_test)
### x1 원인이 되는 변수(설명변수, 독립변수), 결과가 되는 변수(y)는 반응변수 (종속변수)
### y = ax + b

In [13]:
import statsmodels.formula.api as smf

In [17]:
quiz.quiz

0     4.2
1     7.2
2     0.0
3     3.0
4     1.5
5     0.9
6     1.9
7     3.5
8     4.0
9     5.4
10    4.2
11    6.9
12    2.0
13    8.8
14    0.3
15    6.7
16    4.2
17    5.6
18    1.4
19    2.0
Name: quiz, dtype: float64

In [18]:
quiz.final_test

0     67
1     71
2     19
3     35
4     35
5     40
6     23
7     37
8     39
9     55
10    40
11    70
12    29
13    88
14    47
15    77
16    52
17    55
18    18
19    60
Name: final_test, dtype: int64

In [19]:
# formula : '결과~ 원인'

In [20]:
formula = 'quiz.final_test ~ quiz.quiz'

In [21]:
# ordinary least square
# 실제값 - 예측값 = 오차
# 오차제곱한 그 값이 최소로 되게 끔 하는 방법을
# 모델을 만들어서 예측
#

In [22]:
# least squares

In [25]:
type(smf.ols)

method

In [30]:
# 선형 회귀 모델 적합
result_linear_model = smf.ols('final_test ~ quiz', data=quiz).fit()

In [31]:
result_linear_model

In [32]:
# R-squared: 0.676 만 집중해서 봐라. (상관을 제곱한 것이다.)
# p-value : 유의성
# 유의: 이 계수가 들어갔을때 모델이 잘나온다.
# x절편 : 인터셉터
print(result_linear_model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:             final_test   R-squared:                       0.676
Model:                            OLS   Adj. R-squared:                  0.658
Method:                 Least Squares   F-statistic:                     37.61
Date:                Thu, 08 Aug 2024   Prob (F-statistic):           8.59e-06
Time:                        15:27:19   Log-Likelihood:                -76.325
No. Observations:                  20   AIC:                             156.7
Df Residuals:                      18   BIC:                             158.6
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     23.6995      4.714      5.028      0.000      13.796      33.603
quiz           6.5537      1.069      6.133      0.000       4.309       8.799
==============================================================================
Omnibus:                        2.139   Durbin-Watson:                   1.478
Prob(Omnibus):                  0.343   Jarque-Bera (JB):                1.773
Skew:                           0.670   Prob(JB):                        0.412
Kurtosis:                       2.422   Cond. No.                         8.32
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [33]:
0.822402**2

0.676345049604