In [1]:
#지난주 복습
li = [1, 'apple', True]
for i in li:
    print(i)

# mutable 변경 가능한, immutable
# 문자열 함수가 나온다. 힌트 : "".
# 리스트 함수가 나온다. 힌트 : [].

1
apple
True

In [20]:
# type({})
# 자료구조(자료저장)

di1 = {'a': 'apple'}
type(di1)
di1['a']



# iterable
di2 = {'a': 'apple', 'b': 'banana'}
di2['b']

for k in di2:
    print(k)

for k in di2:
    print(di2[k])
    
for k in di2:
    print(k, di2[k])

a
b
apple
banana
a apple
b banana

In [5]:
di3 = {
    'korea':'seoul',
    'japan':'tokyo',
    'china':'beijing'
}

for k in di3:
    print (k, di3[k])

for k, value in di3.items():
    print (k, value)

korea seoul
japan tokyo
china beijing
korea seoul
japan tokyo
china beijing

In [14]:
# key값으로 안되는 데이터 자료형은???
di4 = {7: 'lucky', True: 'TRUE참'}
di4[7]
di4[True]

di4_2 = {(7, 8): 'lucky', True: 'TRUE참'}
di4_2[(7,8)]
# di4_3 = {[7, 8]: 'lucky', True: 'TRUE참'}
# di4_3[[7, 8]]

# hash 자료구조 : 연관구조 (if-then)

'lucky'

In [26]:
computer_class = {'time': [1,2,3,4,5], 'subject':['python', 'java', 'c#/.net', 'html', 'jquery', 'reactJs', 'NodeJs', 'vue']}
computer_class['subject'][6]

tour = {
    'cost': [500000, 500000, 1500000, 2500000, 3500000, 4500000, 5500000, 6500000, 7500000],
    'location':['오키나와', '제주도', '상하이', '장가계', '괌', '코사무이', '사이판', '호치민', '마닐라', '북경', '도쿄', '오사카', '대마도'],
    'hotel_class' : ['A','B','C','D','E']
}
print("가격:" , tour['cost'][4], '원')
print("지역:" , tour['location'][0])
print("호텔:" , tour['hotel_class'][2], '급')

가격: 3500000 원
지역: 오키나와
호텔: C 급

In [73]:
name = "이름"
type = "제품형태"
dict_key = {
    name : "7D 건조 망고",
    type : "당절임"
}

# dict_key['이름']
# dict_key[name]

dict_key['제품형태']
dict_key[type]

# 딕셔너리에 값 추가할 때
name = "과일"
type = "종류"
dict_key['수박1'] = '씨 없는 수박1'
dict_key = { 
    name : ['망고', '수박2', '복숭아'] , 
    type : ['당절임', '씨 없는 수박2', '천도 복숭아']
} 
# items -> keys, values
# for문에 다음에 두 개를 넣을 수 있다.
for key, value in dict_key.items():
    print(f"값:{key}, 내용:{value}")

# dict_items([('과일', ['망고', '수박2', '복숭아']), ('종류', ['당절임', '씨 없는 수박2', '천도 복숭아'])])            
dict_key.items() 
dict_key.keys()
dict_key.values()

값:과일, 내용:['망고', '수박2', '복숭아']
값:종류, 내용:['당절임', '씨 없는 수박2', '천도 복숭아']

dict_values([['망고', '수박2', '복숭아'], ['당절임', '씨 없는 수박2', '천도 복숭아']])

In [78]:
key, value = list(dict_key.items())[0]
key, value

('과일', ['망고', '수박2', '복숭아'])

In [85]:
dict_key[name]
# key값 대체
dict_key[name] = "딸기"
dict_key[type] = '산딸기'
dict_key

{'과일': '딸기', '종류': '산딸기', '생선': ['고등어', '갈치', '광어']}

In [122]:
fish= {'생선': ['갈치', '오징어']}
print(f"before:{fish}")
fish['생선'] = ['고등어', '갈치', '광어']
print(f"after:{fish}")
# food= {'fish': fish, 'meat':['돼지고기','소고기','닭고기']}
meat = {'고기': ['돼지고기','소고기','닭고기']}
food = {'fish': fish, 'meat': meat}
# print(f"{food['fish']}")
# print(f"{food['meat']}")
# print('fish' in food)
# print('meat' in food)

if 'fish' in food:
    print(food['fish'])
else:
    print("키가 없다.")

if 'meat' in food:
    print(food['meat'])
else:
    print("키가 없다.")

food.get('fish')
# None 타입
print(food.get('sadlkfjas')) 
help(None)

before:{'생선': ['갈치', '오징어']}
after:{'생선': ['고등어', '갈치', '광어']}
{'생선': ['고등어', '갈치', '광어']}
{'고기': ['돼지고기', '소고기', '닭고기']}
None
Help on NoneType object:

class NoneType(object)
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [34]:
li = [5,2,3]
li.sort()
print(li)

result = li.reverse()
print(li)
print(result)

[2, 3, 5]
[5, 3, 2]
None

In [35]:
# -------------------------------------------------------------------------
# 문제01. 다음 표에서 dict_a의 결과가 나오도록 빈칸을 채워보세요.
# -------------------------------------------------------------------------
dict_a = {}
dict_a = {"name": "구름"}
print(dict_a)
del dict_a['name']
dict_a.clear()
print(dict_a)

{'name': '구름'}
{}

In [33]:

# -------------------------------------------------------------------------
# 순서 정렬하기
# -------------------------------------------------------------------------
numbers = [1,2,6,8,4,3,2,1,9,5,4,9,7,2,1,3,5,4,8,9,7,2,3]
counter = {}
for number in numbers:
    if bool(counter) == False :        
        counter[number] = 1        
    else :         
        if number in counter.keys():                 
            counter[number] += 1   
        else :
            counter[number] = 1 

li = list(counter)
li.sort() 
print("정렬 전:", counter)
result=dict(sorted(counter.items()))
print("정렬 후:", result)

정렬 전: {1: 3, 2: 4, 6: 1, 8: 2, 4: 3, 3: 3, 9: 3, 5: 2, 7: 2}
정렬 후: {1: 3, 2: 4, 3: 3, 4: 3, 5: 2, 6: 1, 7: 2, 8: 2, 9: 3}

In [2]:
# >>> a=5
# >>> b=5
# >>> a == b
# True
# >>> id(a)
# 140730768155560
# >>> id(b)
# 140730768155560
# >>> a is b
# True
# >>>
# # 주소값이 a,b가 같냐?? 256 값 넘어가면 변수 주소값이 달라진다.

# >>> a is b
# True
# >>> type(4) is int
# True
# >>> type(True) is bool
# True
# >>> type("string") is str 
# True
# >>> type({'1':'223'}) is dict
# True
# >>> type((1, 455435)) is tuple
# True
# >>> type([1,'3434',True]) is list
# True
# >>>

In [11]:
a=1
b=1
 
while a is b :
    a+=1
    b+=1
    if a is b: 
        continue
    else:
        print(f"다른값 시작 : {a}, {b}")
        break

다른값 시작 : 257, 257

In [37]:
for i in [1,2,3]:
    for j in [1,2,3]:
        print("hi")

for i in range(3):
    for j in range(3):
        print("*", end=" ")
    print()

hi
hi
hi
hi
hi
hi
hi
hi
hi
* * *
* * *
* * *

In [49]:
for i in range(1, 9+1):
    print("---", i, "단 ---")
    for j in range(1, 9+1): 
        print(f"{i} * {j} = {i*j:2}", end=" | ")
        # print("%d*%d =%2d " %(i,j, i*j), end=' ')
        if j % 3 == 0:
            print() 
    print()

--- 1 단 ---
1 * 1 =  1 | 1 * 2 =  2 | 1 * 3 =  3 |
1 * 4 =  4 | 1 * 5 =  5 | 1 * 6 =  6 |
1 * 7 =  7 | 1 * 8 =  8 | 1 * 9 =  9 |

--- 2 단 ---
2 * 1 =  2 | 2 * 2 =  4 | 2 * 3 =  6 |
2 * 4 =  8 | 2 * 5 = 10 | 2 * 6 = 12 |
2 * 7 = 14 | 2 * 8 = 16 | 2 * 9 = 18 |

--- 3 단 ---
3 * 1 =  3 | 3 * 2 =  6 | 3 * 3 =  9 |
3 * 4 = 12 | 3 * 5 = 15 | 3 * 6 = 18 |
3 * 7 = 21 | 3 * 8 = 24 | 3 * 9 = 27 |

--- 4 단 ---
4 * 1 =  4 | 4 * 2 =  8 | 4 * 3 = 12 |
4 * 4 = 16 | 4 * 5 = 20 | 4 * 6 = 24 |
4 * 7 = 28 | 4 * 8 = 32 | 4 * 9 = 36 |

--- 5 단 ---
5 * 1 =  5 | 5 * 2 = 10 | 5 * 3 = 15 |
5 * 4 = 20 | 5 * 5 = 25 | 5 * 6 = 30 |
5 * 7 = 35 | 5 * 8 = 40 | 5 * 9 = 45 |

--- 6 단 ---
6 * 1 =  6 | 6 * 2 = 12 | 6 * 3 = 18 |
6 * 4 = 24 | 6 * 5 = 30 | 6 * 6 = 36 |
6 * 7 = 42 | 6 * 8 = 48 | 6 * 9 = 54 |

--- 7 단 ---
7 * 1 =  7 | 7 * 2 = 14 | 7 * 3 = 21 |
7 * 4 = 28 | 7 * 5 = 35 | 7 * 6 = 42 |
7 * 7 = 49 | 7 * 8 = 56 | 7 * 9 = 63 |

--- 8 단 ---
8 * 1 =  8 | 8 * 2 = 16 | 8 * 3 = 24 |
8 * 4 = 32 | 8 * 5 = 40 | 8 * 6 = 48 |
8 * 7 = 56 | 8 * 8 = 64 | 8 * 9 = 72 |

--- 9 단 ---
9 * 1 =  9 | 9 * 2 = 18 | 9 * 3 = 27 |
9 * 4 = 36 | 9 * 5 = 45 | 9 * 6 = 54 |
9 * 7 = 63 | 9 * 8 = 72 | 9 * 9 = 81 |

In [47]:
character = {
    "name"  :"기사",
    "level" : 12,
    "items"  : {
        "sword" : "불꽃의 검",
        "armor" : "풀플레이트"
    },
    "skill"  : ["베기", "세게 베기", "아주 세게 베기"]
}

for key in character: 
    if type(character[key]) is dict: 
        for i in character[key]:
            print(f"{i} : {character[key][i]}") 
    elif str(type(character[key])).find('list') > -1:  
        for i in range(len(character[key])):
            print(f"{key} : {character[key][i]}")
    else :
        print(f"{key} : {character[key]}")

name : 기사
level : 12
sword : 불꽃의 검
armor : 풀플레이트
skill : 베기
skill : 세게 베기
skill : 아주 세게 베기

In [87]:
for i in range(1, 5+1):
    for j in range(i):        
        print("*", end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [88]:
for j in range(1, 5+1):
    print("* "*j)

*
* *
* * *
* * * *
* * * * *

In [92]:
for i in range(5, 0, -1):
    for j in range(i):        
        print("*", end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

In [149]:
# final count down
# result : 1,3,5,7,9,11
for i in range(7):    
    result = 2*i+1            
    for j in range(11+1):     
        if j == result:
            space = int((11-result)//2)
            print(" "*space + "*"*j)
        else :
            continue  
for x in range(1, 2+1):    
    print(" "*3, "*"*3)

     *
    ***
   *****
  *******
 *********
***********
    ***
    ***

In [151]:
import time

print("로켓 발사 카운드 다운")
for i in range(5, -1, -1):
    print(i)
    time.sleep(1)
    
# result : 1,3,5,7,9,11
for i in range(7):    
    result = 2*i+1            
    for j in range(11+1):     
        if j == result:
            space = int((11-result)//2)
            print(" "*space + "*"*j)
        else :
            continue  
for x in range(1, 2+1):    
    print(" "*3, "*"*3)  
    
print("로 켓 발 사 !!")

로켓 발사 카운드 다운
5
4
3
2
1
0
     *
    ***
   *****
  *******
 *********
***********
    ***
    ***
로 켓 발 사 !!

In [152]:
str1= ''
for i in range(1, 7):
    for j in range(6, i, -1):
        str1 += ' '
    for k in range(0 , 2*i-1):
        str1 += '*'
    str1 += '\n'
    
for i in range(2):
    for j in range(4):
        str1 += ' '
    for k in range(3):
        str1 += "*"
    str1 += '\n'

print(str1)

     *
    ***
   *****
  *******
 *********
***********
    ***
    ***

In [161]:
# 1. 다음 표를 채워 보세요.
#   코드가 여러 개 나올 수 있는 경우 가장 간단한 형태를 넣어 주세요.
li1 = [0,1,2,3,4]
list(range(4, 6))
# [4, 5]
list(range(7, 0, -1))
# [7, 6, 5, 4, 3, 2, 1]
# [3,6,9]
list(range(3, 10, 3))


# 2.빈칸을 채워 키와 값으로 이루어진 각 리스트를 조합해
#   하나의 딕셔너리를 만들어 보세요.
key_list = ["name", "hp", "mp", "level"]
value_list = ["기사", 200, 30, 5]
character = {}
for i in range(len(key_list)) :
    character[key_list[i]] = value_list[i]
print(character)

{'name': '기사', 'hp': 200, 'mp': 30, 'level': 5}

In [163]:
# 3. 1부터 숫자를 하나씩 증가시키면서 더하는 경우를 생각해 봅시다.
#    몇을 더할 때 10000을 넘는지 구해 보세요. 그리고 그때의 값도
#    출력해 보세요. 다음은 10000이 넘는 경우를 구한 예입니다.

limit = 10000
i = 1
# sum_value 변수 사용
sum_value = 0
while True:    
    if sum_value > limit:
        break
    else :
        sum_value += i
    i += 1 
print("{}를 더할 때 {}을 넘으며 그때의 값은 {}입니다.".format(i, limit, sum_value))

142를 더할 때 10000을 넘으며 그때의 값은 10011입니다.

In [169]:
# 1부터 100까지의 숫자가 있다고 합시다. 
# 이를 다음과 같이 계산한다고 했을 때, 
# 최대가 되는 경우는 어떤 숫자를 곱했을 때인지를 찾아 주세요. 

max_value = 0
a = 0
b = 0

for i in range(1, 99+1):
    j = 100 - i 
    
    # 최대값 구하기
    if max_value < (i*j) :
        max_value = (i*j)
        a = i
        b = j

print("최대가 되는 경우 : {} * {} = {}".format(a, b, max_value))

최대가 되는 경우 : 50 * 50 = 2500