In [33]:
 
# fruit1 = ['orange','melon','strawberry']
# fruit2 = ['watermelon','grape']
# fruit2.remove('grape')
# fruit1.append(fruit2)
# fruit1

fruits = ['apple', 'banana', 'cherry', 'grape', 'orange', 'strawberry', 'melon']
print(fruits[-3:], fruits[1::3])

['orange', 'strawberry', 'melon'] ['banana', 'orange']

In [34]:
fruit = ['orange','lemon','strawberry','cherry']
number = ['1','2','3']
first,second,third = number
print(second * fruit.index('strawberry'))

22

In [36]:
color = ['red','orange','yellow','green']
color.insert(1,'blue')
print(color)
# ['red','blue','orange','yellow','green']

['red', 'blue', 'orange', 'yellow', 'green']

In [37]:
user_input_a = input("첫 번째 값을 입력하시오 : ")
#  첫 번째 값을 입력하시오 : 5
user_input_b = input("두 번째 값을 입력하시오 : ")
#  두 번째 값을 입력하시오 : 7
total = user_input_a + user_input_b
total

'57'

In [38]:
alphabet = ['a','b','c','d']
print( alphabet * len(alphabet[1:3]))

['a', 'b', 'c', 'd', 'a', 'b', 'c', 'd']

In [39]:
color = ['red','orange','yellow']
name = ['John','Marry']
new = color
new.append(name[0])
print(color)

['red', 'orange', 'yellow', 'John']

In [45]:
first = ["egg", "salad", "bread", "soup", "canafe"]
second = ["fish", "lamb", "pork", "beef", "chicken"]
third = ["apple", "banana", "orange", "grape", "mango"]
order = [first, second, third]
john = [order[0][:-2], second[1::3], third[0]]
del john[2]
john.extend([order[2][0:1]])
print(john)

[['egg', 'salad', 'bread'], ['lamb', 'chicken'], ['apple']]

In [47]:
list_a = [3, 2, 1, 4]
list_b = list_a.sort()
print(list_a, list_b)

[1, 2, 3, 4] None

In [46]:
our_list = [10, 20, 30, 40, 50]
our_list.append(100)
print(our_list)
our_list.append(1000)
print(our_list)

[10, 20, 30, 40, 50, 100]
[10, 20, 30, 40, 50, 100, 1000]

In [48]:
a = [5, 7, 3]
b = [3, 9, 1]
c = a + b
c = c.sort()
print(c)

None

In [49]:
a = [1, 2, 3, 5]
b = ['a', 'b', 'c','d','e']
a.append('g')
b.append(6)
print('g' in b, len(b))

False 6

In [50]:
year = int(input('나이를 입력하세요.: '))

ValueError: invalid literal for int() with base 10: 'abc'

In [55]:
for a in range(8):
 a *= (a-1)
print(a)

42

In [62]:
ages = ['one', 8, 'twenty', 40]
for age in ages:
    if type(age) == 'int' :
        print(age, '숫자')
    else:
        print(age, '문자')

one 문자
8 문자
twenty 문자
40 문자

In [63]:
test = '5'
for n in range(int(5)):
    print('test')

test
test
test
test
test

In [64]:
my_list = ['i', 'like','studying','python']
new_list = []
i = len(my_list )
if i == 4:
 new_list.append(my_list[::2])
print(new_list)

[['i', 'studying']]

In [72]:
num = [1, 2, 3, 4, 5, 6]
total = 1
for n in num:
    total = n * n
print(total)

36

In [74]:
a = 1
while a<11:
    if a % 2 == 0:
        print(a)
        a += 1
    else:
        a +=1

    if a == 0:
        break

2
4
6
8
10

In [75]:
a = int(input('자연수 a를 입력하세요. : '))
if (type(a / 10) == int) :
    print('a는 10의 배수입니다.')
else:
    print('a는 10의 배수가 아닙니다.')
b = int(input('정수 b를 입력하세요. : '))
if (b > 0) :
    print('b는 양수입니다.')
else:
    print('b는 음수입니다.')

a는 10의 배수가 아닙니다.
b는 음수입니다.

In [88]:
ages = ['one', 8, 'twenty', 40]
for age in ages:
    if  type(age) == 'int':
        print(age, '숫자')
    else:
        print(age, '문자')

one 문자
8 문자
twenty 문자
40 문자

In [93]:
list_1 = [[1, 2], [3], [4, 5, 6]]
a,b,c = list_1
list_2 = a + b + c
print(list_2)

[1, 2, 3, 4, 5, 6]