In [155]:
# Number of Attributes: 
#   9 including the class attribute

# Attribute Information:
#   mpg: continuous
#   cylinders: multi-valued discrete
#   displacement: continuous
#   horsepower 마력: continuous
#   weight 중량 : continuous
#   acceleration:  continuous
#   model year 차량 생산국: multi-valued discrete
#   origin 제조국가: multi-valued discrete
#   car name 이름: string (unique for each instance)

# Missing Attribute Values: 
#   horsepower has 6 missing values

import pandas as pd
import math 
import numpy as np
import seaborn as sns

In [231]:
mpg_ori = pd.read_csv("C:/shjung/pythonExam/240809_preprocessing_pandas/autompg_copy.csv", encoding="cp949")

In [232]:
mpg_ori.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [233]:
mpg_ori['mpg']

0      18.0
1      15.0
2      18.0
3      16.0
4      17.0
       ...
393    27.0
394    44.0
395    32.0
396    28.0
397    31.0
Name: mpg, Length: 398, dtype: float64

In [234]:
mpg_ori.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model year', 'origin', 'car name'],
      dtype='object')

In [235]:
mpg_ori['cylinders']

0      8
1      8
2      8
3      8
4      8
      ..
393    4
394    4
395    4
396    4
397    4
Name: cylinders, Length: 398, dtype: int64

In [161]:
mpg_ori.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   car name      398 non-null    object
dtypes: float64(3), int64(4), object(2)
memory usage: 28.1+ KB

In [162]:
# 398 x 9

In [163]:
# 0.425143707 
# 1 mpg = 0.425143707 km/l
# mpg_ori['kml'] = mpg_ori['mpg'] * 0.425143707

In [236]:
mpg_ori['lpk'] = round( mpg_ori['mpg'] * 0.425143707 , 2)

In [237]:
mpg_ori['lpk']

0       7.65
1       6.38
2       7.65
3       6.80
4       7.23
       ...
393    11.48
394    18.71
395    13.60
396    11.90
397    13.18
Name: lpk, Length: 398, dtype: float64

In [238]:
mpg_ori.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name,lpk
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu,7.65
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320,6.38
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite,7.65
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst,6.80
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino,7.23

In [239]:
mpg_ori.horsepower.dtype

dtype('O')

In [240]:
mpg_ori['horsepower'].replace('?', np.nan)

0      130
1      165
2      150
3      150
4      140
      ...
393     86
394     52
395     84
396     79
397     82
Name: horsepower, Length: 398, dtype: object

In [241]:
mpg_ori['horsepower'].isna().sum()

0

In [242]:
mpg_ori['horsepower'].unique()

array(['130', '165', '150', '140', '198', '220', '215', '225', '190',
       '170', '160', '95', '97', '85', '88', '46', '87', '90', '113',
       '200', '210', '193', '?', '100', '105', '175', '153', '180', '110',
       '72', '86', '70', '76', '65', '69', '60', '80', '54', '208', '155',
       '112', '92', '145', '137', '158', '167', '94', '107', '230', '49',
       '75', '91', '122', '67', '83', '78', '52', '61', '93', '148',
       '129', '96', '71', '98', '115', '53', '81', '79', '120', '152',
       '102', '108', '68', '58', '149', '89', '63', '48', '66', '139',
       '103', '125', '133', '138', '135', '142', '77', '62', '132', '84',
       '64', '74', '116', '82'], dtype=object)

In [244]:
help( mpg_ori['horsepower'].where )

Help on method where in module pandas.core.generic:

where(cond, other=nan, *, inplace: 'bool_t' = False, axis: 'Axis | None' = None, level: 'Level | None' = None) -> 'Self | None' method of pandas.core.series.Series instance
    Replace values where the condition is False.

    Parameters
    ----------
    cond : bool Series/DataFrame, array-like, or callable
        Where `cond` is True, keep the original value. Where
        False, replace with corresponding value from `other`.
        If `cond` is callable, it is computed on the Series/DataFrame and
        should return boolean Series/DataFrame or array. The callable must
        not change input Series/DataFrame (though pandas doesn't check it).
    other : scalar, Series/DataFrame, or callable
        Entries where `cond` is False are replaced with
        corresponding value from `other`.
        If other is callable, it is computed on the Series/DataFrame and
        should return scalar or Series/DataFrame. The callable must not
        change input Series/DataFrame (though pandas doesn't check it).
        If not specified, entries will be filled with the corresponding
        NULL value (``np.nan`` for numpy dtypes, ``pd.NA`` for extension
        dtypes).
    inplace : bool, default False
        Whether to perform the operation in place on the data.
    axis : int, default None
        Alignment axis if needed. For `Series` this parameter is
        unused and defaults to 0.
    level : int, default None
        Alignment level if needed.

    Returns
    -------
    Same type as caller or None if ``inplace=True``.

    See Also
    --------
    :func:`DataFrame.mask` : Return an object of same shape as
        self.

    Notes
    -----
    The where method is an application of the if-then idiom. For each
    element in the calling DataFrame, if ``cond`` is ``True`` the
    element is used; otherwise the corresponding element from the DataFrame
    ``other`` is used. If the axis of ``other`` does not align with axis of
    ``cond`` Series/DataFrame, the misaligned index positions will be filled with
    False.

    The signature for :func:`DataFrame.where` differs from
    :func:`numpy.where`. Roughly ``df1.where(m, df2)`` is equivalent to
    ``np.where(m, df1, df2)``.

    For further details and examples see the ``where`` documentation in
    :ref:`indexing <indexing.where_mask>`.

    The dtype of the object takes precedence. The fill value is casted to
    the object's dtype, if this can be done losslessly.

    Examples
    --------
    >>> s = pd.Series(range(5))
    >>> s.where(s > 0)
    0    NaN
    1    1.0
    2    2.0
    3    3.0
    4    4.0
    dtype: float64
    >>> s.mask(s > 0)
    0    0.0
    1    NaN
    2    NaN
    3    NaN
    4    NaN
    dtype: float64

    >>> s = pd.Series(range(5))
    >>> t = pd.Series([True, False])
    >>> s.where(t, 99)
    0     0
    1    99
    2    99
    3    99
    4    99
    dtype: int64
    >>> s.mask(t, 99)
    0    99
    1     1
    2    99
    3    99
    4    99
    dtype: int64

    >>> s.where(s > 1, 10)
    0    10
    1    10
    2    2
    3    3
    4    4
    dtype: int64
    >>> s.mask(s > 1, 10)
    0     0
    1     1
    2    10
    3    10
    4    10
    dtype: int64

    >>> df = pd.DataFrame(np.arange(10).reshape(-1, 2), columns=['A', 'B'])
    >>> df
       A  B
    0  0  1
    1  2  3
    2  4  5
    3  6  7
    4  8  9
    >>> m = df % 3 == 0
    >>> df.where(m, -df)
       A  B
    0  0 -1
    1 -2  3
    2 -4 -5
    3  6 -7
    4 -8  9
    >>> df.where(m, -df) == np.where(m, df, -df)
          A     B
    0  True  True
    1  True  True
    2  True  True
    3  True  True
    4  True  True
    >>> df.where(m, -df) == df.mask(~m, -df)
          A     B
    0  True  True
    1  True  True
    2  True  True
    3  True  True
    4  True  True

In [245]:
mpg_ori['horsepower'] == '?'

0      False
1      False
2      False
3      False
4      False
       ...
393    False
394    False
395    False
396    False
397    False
Name: horsepower, Length: 398, dtype: bool

In [246]:
mpg_ori[ mpg_ori['horsepower'] == '?']

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name,lpk
32,25.0,4,98.0,?,2046,19.0,71,1,ford pinto,10.63
126,21.0,6,200.0,?,2875,17.0,74,1,ford maverick,8.93
330,40.9,4,85.0,?,1835,17.3,80,2,renault lecar deluxe,17.39
336,23.6,4,140.0,?,2905,14.3,80,1,ford mustang cobra,10.03
354,34.5,4,100.0,?,2320,15.8,81,2,renault 18i,14.67
374,23.0,4,151.0,?,3035,20.5,82,1,amc concord dl,9.78

In [247]:
mpg_ori['horsepower'].replace('?', np.nan, inplace=True)

C:\Users\shjung\AppData\Local\Temp\ipykernel_18680\1912807936.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  mpg_ori['horsepower'].replace('?', np.nan, inplace=True)

In [248]:
mpg_ori['horsepower'].unique()

array(['130', '165', '150', '140', '198', '220', '215', '225', '190',
       '170', '160', '95', '97', '85', '88', '46', '87', '90', '113',
       '200', '210', '193', nan, '100', '105', '175', '153', '180', '110',
       '72', '86', '70', '76', '65', '69', '60', '80', '54', '208', '155',
       '112', '92', '145', '137', '158', '167', '94', '107', '230', '49',
       '75', '91', '122', '67', '83', '78', '52', '61', '93', '148',
       '129', '96', '71', '98', '115', '53', '81', '79', '120', '152',
       '102', '108', '68', '58', '149', '89', '63', '48', '66', '139',
       '103', '125', '133', '138', '135', '142', '77', '62', '132', '84',
       '64', '74', '116', '82'], dtype=object)

In [249]:
mpg_ori['horsepower'] = mpg_ori['horsepower'].astype('float')

In [250]:
mpg_ori['horsepower'].dtype

dtype('float64')

In [251]:
mpg_ori['horsepower'].mean()

104.46938775510205

In [252]:
# 1은 USA, 2는 EU, 3은 JAPAN
mpg_ori['origin']

0      1
1      1
2      1
3      1
4      1
      ..
393    1
394    2
395    1
396    1
397    1
Name: origin, Length: 398, dtype: int64

In [253]:
mpg_ori['origin'].value_counts(dropna=False)

origin
1    249
3     79
2     70
Name: count, dtype: int64

In [181]:
# replace를 이용하여, 1,2,3 해당 국가명으로 바꾸세요

In [254]:
mpg_ori['origin'].replace(1, 'USA', inplace=True)
mpg_ori['origin'].replace(2, 'EU', inplace=True)
mpg_ori['origin'].replace(3, 'JAPAN', inplace=True)
# mpg_ori['origin'].replace({1:'USA',2:'EU',3:'JAPAN'}, inplace=True)

In [255]:
mpg_ori['origin'].unique()

array(['USA', 'JAPAN', 'EU'], dtype=object)

In [256]:
mpg_ori[mpg_ori['origin'] == 'USA']

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name,lpk
0,18.0,8,307.0,130.0,3504,12.0,70,USA,chevrolet chevelle malibu,7.65
1,15.0,8,350.0,165.0,3693,11.5,70,USA,buick skylark 320,6.38
2,18.0,8,318.0,150.0,3436,11.0,70,USA,plymouth satellite,7.65
3,16.0,8,304.0,150.0,3433,12.0,70,USA,amc rebel sst,6.80
4,17.0,8,302.0,140.0,3449,10.5,70,USA,ford torino,7.23
...,...,...,...,...,...,...,...,...,...,...
392,27.0,4,151.0,90.0,2950,17.3,82,USA,chevrolet camaro,11.48
393,27.0,4,140.0,86.0,2790,15.6,82,USA,ford mustang gl,11.48
395,32.0,4,135.0,84.0,2295,11.6,82,USA,dodge rampage,13.60
396,28.0,4,120.0,79.0,2625,18.6,82,USA,ford ranger,11.90
397,31.0,4,119.0,82.0,2720,19.4,82,USA,chevy s-10,13.18

In [257]:
mpg_ori['origin'].value_counts(dropna=False)

origin
USA      249
JAPAN     79
EU        70
Name: count, dtype: int64

In [258]:
# 범주형 데이터로 변환
mpg_ori['origin'] = mpg_ori['origin'].astype('category')

In [259]:
mpg_ori['origin'].dtype

CategoricalDtype(categories=['EU', 'JAPAN', 'USA'], ordered=False, categories_dtype=object)

In [260]:
mpg_ori['origin'] = mpg_ori['origin'].astype('str')

In [261]:
mpg_ori['origin'].dtype

dtype('O')

In [262]:
mpg_ori.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model year', 'origin', 'car name', 'lpk'],
      dtype='object')

In [263]:
mpg_ori['model year']

0      70
1      70
2      70
3      70
4      70
       ..
393    82
394    82
395    82
396    82
397    82
Name: model year, Length: 398, dtype: int64

In [264]:
# 많이 쓴다
mpg_ori['model year'].sample(2)

105    73
253    78
Name: model year, dtype: int64

In [265]:
mpg_ori['model year'].sample(1)

373    82
Name: model year, dtype: int64

In [266]:
mpg_ori['horsepower']

0      130.0
1      165.0
2      150.0
3      150.0
4      140.0
       ...
393     86.0
394     52.0
395     84.0
396     79.0
397     82.0
Name: horsepower, Length: 398, dtype: float64

In [267]:
mpg_ori['horsepower'].isna().sum()

6

In [268]:
horsepower_avg = round (mpg_ori['horsepower'].mean(), 0)

In [269]:
mpg_ori['horsepower'].fillna(horsepower_avg, inplace=True)

In [270]:
mpg_ori['horsepower'].value_counts(dropna=False)

horsepower
150.0    22
90.0     20
88.0     19
110.0    18
100.0    17
         ..
61.0      1
93.0      1
148.0     1
152.0     1
82.0      1
Name: count, Length: 94, dtype: int64

In [271]:
mpg_ori['horsepower']

0      130.0
1      165.0
2      150.0
3      150.0
4      140.0
       ...
393     86.0
394     52.0
395     84.0
396     79.0
397     82.0
Name: horsepower, Length: 398, dtype: float64

In [272]:
mpg_ori['horsepower'].isna().sum()

0

In [273]:
mpg_ori.isna().sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model year      0
origin          0
car name        0
lpk             0
dtype: int64

In [274]:
mpg_ori.to_csv("C:/shjung/pythonExam/240809_preprocessing_pandas/autompg_result.csv")

In [275]:
print(max(mpg_ori['horsepower']))
print(min(mpg_ori['horsepower']))

230.0
46.0

In [276]:
interval = (max(mpg_ori['horsepower'])- min(mpg_ori['horsepower'])) / 3

In [277]:
low = min(mpg_ori['horsepower']) + interval
medium = low + interval
high = medium + interval

In [278]:
print(f"46.0 ~ {low}:저 출력")
print(f"{low} ~ {medium}:보통 출력")
print(f"{medium} ~ {high}:고 출력")

46.0 ~ 107.33333333333334:저 출력
107.33333333333334 ~ 168.66666666666669:보통 출력
168.66666666666669 ~ 230.00000000000003:고 출력

In [279]:
(mpg_ori['horsepower'] >= 46.0) & (mpg_ori['horsepower'] <= 107.33333333333334)

0      False
1      False
2      False
3      False
4      False
       ...
393     True
394     True
395     True
396     True
397     True
Name: horsepower, Length: 398, dtype: bool

In [280]:
mpg_ori[(mpg_ori['horsepower'] >= 46.0) & (mpg_ori['horsepower'] <= 107.33333333333334)].head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name,lpk
14,24.0,4,113.0,95.0,2372,15.0,70,JAPAN,toyota corona mark ii,10.20
15,22.0,6,198.0,95.0,2833,15.5,70,USA,plymouth duster,9.35
16,18.0,6,199.0,97.0,2774,15.5,70,USA,amc hornet,7.65
17,21.0,6,200.0,85.0,2587,16.0,70,USA,ford maverick,8.93
18,27.0,4,97.0,88.0,2130,14.5,70,JAPAN,datsun pl510,11.48

In [224]:
mpg_ori['horsepower'][(mpg_ori['horsepower'] >= 46.0) & (mpg_ori['horsepower'] <= 107.33333333333334)].head()

14    95.0
15    95.0
16    97.0
17    85.0
18    88.0
Name: horsepower, dtype: float64

In [225]:
mpg_ori['horsepower'][(mpg_ori['horsepower'] >= 46.0) & (mpg_ori['horsepower'] <= 107.33333333333334)].head()

14    95.0
15    95.0
16    97.0
17    85.0
18    88.0
Name: horsepower, dtype: float64

In [288]:
# .replace(1, 'USA', inplace=True)
# mpg_ori['horsepower'][(mpg_ori['horsepower'] >= 107.33333333333334) & (mpg_ori['horsepower'] < 168.66666666666669)]


mpg_df = mpg_ori

In [290]:
# replacement = mpg_ori['horsepower'].loc[
#     (mpg_ori['horsepower'] >= 107.33333333333334) & 
#     (mpg_ori['horsepower'] < 168.66666666666669)
# ]

mpg_df['horsepower'].value_counts(dropna=False)

horsepower
150.0    22
90.0     20
88.0     19
110.0    18
100.0    17
         ..
61.0      1
93.0      1
148.0     1
152.0     1
82.0      1
Name: count, Length: 94, dtype: int64

In [297]:
labels = ["저출력", "보통출력", "고출력"]
bins = [ 46.0, 107.33333333333334, 168.66666666666669, 230.00000000000003]
# help(pd.cut)

# 46.0 ~ 107.33333333333334:저 출력
# 107.33333333333334 ~ 168.66666666666669:보통 출력
# 168.66666666666669 ~ 230.00000000000003:고 출력
pd.cut(mpg_df['horsepower'].astype('float'), bins=bins, labels =labels)

0      보통출력
1      보통출력
2      보통출력
3      보통출력
4      보통출력
       ...
393     저출력
394     저출력
395     저출력
396     저출력
397     저출력
Name: horsepower, Length: 398, dtype: category
Categories (3, object): ['저출력' < '보통출력' < '고출력']

In [300]:
mpg_df['horsepower'].head()

0    130.0
1    165.0
2    150.0
3    150.0
4    140.0
Name: horsepower, dtype: float64

[[12, 3], [15, 3]]

[[210, 210], [200, 200]]