In [6]:
# param : x, return x
def f1():
    print ("hi")
f1()

hi

In [18]:
# param : 0, return x
def f2(gift):
    print ("param:", gift)
f2("사탕")

param: 사탕

In [20]:
# param : x, return 0
def f3():
    return "과자"
result = f3()
print(result)

과자

In [24]:
# param : 0, return 0
def f4(gift):
    print(gift+ "받음")
    return "딸기"
f4("새우깡")

In [4]:
# 함수의 다양한 매개변수 ( 가변형 )
# 제약
#   1. 가변 매개변수 뒤에는 일반 매개변수 올 수 없음
#   2. 가변 매개변수는 하나만 사용할 수 있음

def f5(*values):
    print(values)
    
# 튜플형태라 가능하다.
f5()
f5(1)
f5(1,7)

()
(1,)
(1, 7)

In [10]:
def f6(gift, *values) :
    print(gift, values)
    
f6("수박")
f6("수박", )
f6("수박", 1)
f6("수박", "딸기")
f6("수박", "딸기", "사과")

수박 ()
수박 ()
수박 (1,)
수박 ('딸기',)
수박 ('딸기', '사과')

In [32]:
def f7(*values, gift) :
    #pass
    print(values, gift)
f7("빵")

TypeError: f7() missing 1 required keyword-only argument: 'gift'

# 12346644

In [40]:
# def f8(*values1, *values2) :     # ERROR
#     print(values, value2)

SyntaxError: * argument may appear only once (3710819883.py, line 1)

In [39]:
# 기본 매개변수 (기본 값이 있는 매개변수, 해당되는 매개변수 자리에 실제값을 넣어도 에러가 안난다.)
def f9(menu="빵"):
    print(menu)
f9()
f9("밥")

빵
밥

In [22]:
f9(menu="비빔밥")

비빔밥

In [142]:
f9("밥", "두부")

TypeError: f9() takes from 0 to 1 positional arguments but 2 were given

In [38]:
def f10(gift, menu="밥"):
    print(gift, menu)
f10("쵸콜릿")

쵸콜릿 밥

In [37]:
# ERROR
# def f11(menu="밥", gift):
#     print(menu,gift)

SyntaxError: parameter without a default follows parameter with a default (1983940829.py, line 2)

In [141]:
def f12(*values, menu="밥"):
    print(values, menu) 
f12()
f12("삼겹살")

() 밥
('삼겹살',) 밥

In [42]:
def f13(*values, menu="밥"):
    print(menu, values)

In [50]:
f13()
f13("삼겹살","상추")
f13("삼겹살","김치","홍어", menu="삼합")

밥 ()
밥 ('삼겹살', '상추')
삼합 ('삼겹살', '김치', '홍어')

In [139]:
def f14(menu="밥", *values):
    print(menu, values) 

f14()
f14("삼겹살")
f14("삼겹살", "냉면")
f14("삼겹살", "냉면", '1','2','3','4','5')

밥 ()
삼겹살 ()
삼겹살 ('냉면',)
삼겹살 ('냉면', '1', '2', '3', '4', '5')

In [140]:
# 매개변수 앞에 *는 튜플, **는 딕셔너리
def f15(**values) :
    if values.get('name') != None:
        print("이름:" , values.get('name'))
        print("나이:" , values.get('age'))
        print("사는곳:", values.get('city'))
    else :
        print(values)

f15()
f15(a='1')
f15(a='1', b='2')
f15(name="엘리스", age=30, city="Seoul")

{}
{'a': '1'}
{'a': '1', 'b': '2'}
이름: 엘리스
나이: 30
사는곳: Seoul

In [66]:
# dictionary 나옴
f15()
type({})
{1,2,3}

# (집합 : set(), 집합은 순서 없고, 중복을 제거)
type({1,2,3})

{}

set

In [68]:
{1,2,['hi',5]}

TypeError: unhashable type: 'list'

In [69]:
{1,2,3,4,4,4,4,4,4,5,4,4,4}

{1, 2, 3, 4, 5}

In [70]:
{1,2,{}}

TypeError: unhashable type: 'dict'

In [71]:
{1,2,{'1','tetet'}}

TypeError: unhashable type: 'set'

In [72]:
for i in {1,2,3,4,4,4,4,4,4,5,4,4,4}:
    print (i)

1
2
3
4
5

In [73]:
type({1,2,3,1,2,3,1})

set

In [138]:
# 매개변수 앞에 *는 튜플, **는 딕셔너리
def f17(gift, **dic) : 
    print(gift, dic)    
f17("12345")
f17("123456", sub="789")

12345 {}
123456 {'sub': '789'}

In [123]:
def f18(**dic) :
    print(dic) 
f18(x='메뉴')
# 매개변수 앞에 *는 튜플, **는 딕셔너리
# *는 뒤로 보내야 한다. (무조건)
# def f19(**dic, gift) :  # ERROR
#     print(dic)

{'x': '메뉴'}

In [137]:
def f20(menu="밥", **dic):
    print(menu, dic)
f20()
f20("면")
# f20("면", "탕수육")  # ERROR
f20("면", x="탕수육")

밥 {}
면 {}
면 {'x': '탕수육'}

In [130]:
def f19(gift, menu="밥", **dic):
    print(gift, menu, dic)

f19("파인애플")
f19("파인애플", "면")
# f19("파인애플", "면", "짬") #ERROR
f19("파인애플", "면", plus="짬")

파인애플 밥 {}
파인애플 면 {}
파인애플 면 {'plus': '짬'}

In [136]:
def f21(gift, menu="밥", *values, **dic):
    print(gift, menu, values, dic)

# f21() #ERROR
f21("꽃")
f21("꽃", "면")
f21("꽃", "면", 1,2,3)
f21("꽃", "면", 1,2,3, a="apple")
f21("꽃", "면", 1,2,3, a="apple", b="banana")

꽃 밥 () {}
꽃 면 () {}
꽃 면 (1, 2, 3) {}
꽃 면 (1, 2, 3) {'a': 'apple'}
꽃 면 (1, 2, 3) {'a': 'apple', 'b': 'banana'}